/* ---------------------------- BASIC SETUP ---------------------------- */

/* get rid of browser defined paddings and margins and use border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stop the browser adding border when an element is focused */
*:focus {
  outline: none;
}

/* variables */
:root {
  --main-orange: #e67e22;
  --orange-darker: #cf6d17;
  --main-font-color: #555;
  --section-gray-bg: #f4f4f4;
}

/* mainly font settings */
html {
  background-color: #fff;
  color: var(--main-font-color);
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* a row means that the content inside it will be centered horizontally in a new row */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* 
  creating whitespace with padding instead of margin because some sections will have
  different backgrounds
*/
section {
  padding: 80px 0;
}

/* ---------------------------- HEADER ---------------------------- */

/* mainly background settings here */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

/* this will be the main text that will be shown above the bg image, also the buttons */
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* company logo */
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

/* main navigation */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 61px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  padding: 8px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--main-orange);
}

/* ---------------------------- HEADINGS ---------------------------- */

/*
  titles that are used on the page; 
  h1 - main title
  h2 - section titles
  */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 5px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

/* put an orange line after each section title */
h2:after {
  display: block;
  height: 2px;
  background-color: var(--main-orange);
  margin: 0 auto;
  margin-top: 30px;
  content: " ";
  width: 100px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ---------------------------- BUTTONS ---------------------------- */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  border: 1px solid var(--main-orange);
  border-radius: 200px;
  transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: var(--main-orange);
  margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: var(--main-orange);
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: var(--orange-darker);
  border: 1px solid var(--orange-darker);
  cursor: pointer;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: var(--orange-darker);
  border: 1px solid var(--orange-darker);
  color: #fff;
}

/* ---------------------------- LINKS ---------------------------- */

a:link,
a:visited {
  color: var(--main-orange);
  text-decoration: none;
  border-bottom: 1px solid var(--main-orange);
  padding-bottom: 2px;
  transition: color 0.2s, border-bottom 0.2s;
}

a:hover,
a:active {
  color: var(--main-font-color);
  border-bottom: 1px solid transparent;
}

/* ---------------------------- PARAGRAPHS ---------------------------- */

.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p {
  line-height: 145%;
  font-size: 90%;
}

/* ---------------------------- ICONS ---------------------------- */

.icon-big {
  font-size: 350%;
  display: block;
  color: var(--main-orange);
  margin-bottom: 10px;
}

/* this icon class is used to style the list elements */
.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: var(--main-orange);
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 10px;
}

/* ---------------------------- COLUMNS ---------------------------- */

.box {
  padding: 1%;
}

/* ---------------------------- FEATURES SECTION ---------------------------- */

.section-features .long-copy {
  margin-bottom: 30px;
}

/* ---------------------------- MEALS SECTION ---------------------------- */

.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
  display: flow-root;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

/* create a zooming out effect */
.meal-photo img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* ---------------------------- HOW IT WORKS SECTION ---------------------------- */

.section-steps {
  background-color: var(--section-gray-bg);
}

/* text-align property is used to position the image */
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

/* because there are anchor tags after .works-step, :last-child won't work here but idk why */
.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: var(--main-orange);
  border: 2px solid var(--main-orange);
  border-radius: 100%;
  width: 55px;
  height: 55px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ---------------------------- CITIES SECTION ---------------------------- */

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.city-feature {
  margin: 5px auto;
}

/* ---------------------------- CUSTOMER TESTIMONIALS SECTION ---------------------------- */

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/back-customers.jpg);
  background-size: cover;
  background-attachment: fixed; /* make the image stay where it is when user scrolls */
  color: #fff;
}

blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
}

cite {
  display: block;
  margin-top: 25px;
  font-size: 90%;
}

cite img {
  height: 45px;
  border-radius: 100%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ---------------------------- PLANS SECTION ---------------------------- */

.section-plans {
  background-color: var(--section-gray-bg);
}

.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e7e7e7;
}

.plan-box ul {
  list-style: none;
}

.plan-box ul li {
  padding: 5px 0;
}

.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* aling the button horizontally and get rid of the bottom border */
.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  font-weight: 100;
  margin-bottom: 10px;
  color: var(--main-orange);
}

.plan-price span {
  font-size: 30%;
  font-weight: 300;
}

.plan-price-meal {
  font-size: 80%;
}

/* ---------------------------- FORM SECTION ---------------------------- */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

/* ---------------------------- FOOTER ---------------------------- */

footer {
  background-color: #333;
  padding: 50px;
  display: flow-root; /* clear the floats */
  font-size: 80%;
}

.footer-nav,
.social-links {
  list-style: none;
}

.footer-nav {
  float: left;
}

.social-links {
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 170%;
}

.ion-logo-facebook,
.ion-logo-twitter,
.ion-logo-googleplus,
.ion-logo-instagram {
  transition: color 0.2s;
}

.ion-logo-facebook:hover,
.ion-logo-facebook:active {
  color: #3b5999;
}

.ion-logo-googleplus:hover,
.ion-logo-googleplus:active {
  color: #dd4b39;
}

.ion-logo-twitter:hover,
.ion-logo-twitter:active {
  color: #55acee;
}

.ion-logo-instagram:hover,
.ion-logo-instagram:active {
  color: #e4405f;
}

footer p {
  text-align: center;
  color: #888;
  margin-top: 20px;
}
